{
  "color" : "default",
  "pin" : false,
  "text" : "뉴질랜드 > newzealand1~2.jpg\n바르셀로나 > Bar1~4.jpg\n아일랜드 > Ire1~6.jpg\n시애틀 > seattle1~2.jpg\n캐나다 > Can1~2.jpg\n파리 > Paris1~4.jpog\n뉴욕 > NY1~3.jpg\n런던 > London1~4.jpg\n스코틀랜드 > Scot1~4.jpg\n시드니 > Syd.jpg\n덴마크 > Dan1~2.jpg\n노르웨이 > nor1~3.jpg\nYour second home > home1~6.jpg\n",
  "version" : 1
}